* {
  height: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  padding: 6vh 4vh;
  border: 2px solid rgba(182, 151, 90, 0.82);
  border-radius: 15px;
  box-shadow: 17px 16px 17px -1px rgba(182, 151, 90, 0.82);
}

.email,
.password {
  font-size: 1.5vw;
  padding: 1vh;
  margin: 2vh;
  border: 2px solid rgba(182, 151, 90, 0.82);
  border-radius: 15px;
  outline: none;
  background: white;
}
.email:focus,
.password:focus {
  background: #fff;
  color: #000;
}

.submit {
  width: 20vw;
  font-size: 1.5vw;
  padding: 1vh;
  margin: 2vh;
  border-radius: 15px;
  outline: none;
  background: rgba(182, 151, 90, 0.82);
  border: none;
}

.submit:hover {
  cursor: pointer;
}

.error {
  font-size: 1.5vw;
  color: red;
}
