.css-wjh20t-MuiPagination-ul {
  justify-content: center;
  padding: 2vw 0;
}
.css-wjh20t-MuiPagination-ul > li > button {
  font-size: 2vw;
  min-width: 5vw;
  height: 5vw;
}
.css-nhb8h9 {
  justify-content: center;
}
.css-lrb33l {
  font-size: 3vw;
}
.css-f4jy6p {
  width: 6vw;
  height: 6vw;
  font-size: 2.5vw;
}
