<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="nav"><a href="/products">Products</a></div>
      <div class="nav"><a href="/add_products">Add Product</a></div>
      <div class="nav"><a href="">aaa</a></div>
      <div class="nav end">
        <button id="logOut">
          <i style="font-size: 24px" class="fa">&#xf08b;</i>
        </button>
      </div>
    </div>
    <script>
      const logOutButton = document.getElementById("logOut");

      logOutButton.addEventListener("click", async () => {
        try {
          const response = await fetch("/api/admin/logout", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          });

          if (response.ok) {
            window.location.href = "/login";
          } else {
            console.error("Logout failed");
          }
        } catch (error) {
          console.error("An error occurred during logout", error);
        }
      });
    </script>
  </body>
</html>
