<%- include('../Components/body.ejs', { pageTitle: 'Login', css: 'login',
script: "login"}) %>
<div class="container">
  <form>
    <input id="login" class="input" type="email" placeholder="Login" required />
    <input
      id="password"
      class="input"
      type="password"
      placeholder="Email"
      required
    />
    <input id="submit" class="input" type="submit" />
  </form>
</div>
