* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
}

.productsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#table {
  width: 80%;
  height: auto;
  margin-top: 2vw;
}

td{
 font-size: 1.5vw;
}
.data-edit, .data-delete, .data-view, .edit-save, .edit-cancel{
   width: 5vw;
   height: 2vw;
   border-radius: 7px;
   font-size: 1.1vw;
   border: 1px solid
}
.data-edit:hover, .data-delete:hover, .data-view:hover, .edit-save:hover, .edit-cancel:hover{
  cursor: pointer;
}

.tableNav {
  width: 17vw;
  font-size: 2vw;
  padding: 1vh;
  margin: 3vw 0;
  border-radius: 15px;
  background: rgba(182, 151, 90, 0.82);
  margin-left: 5vw;
  border: none;
}
.tableNav:hover{
  cursor: pointer;
}

.img {
  width: 5vw;
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.delete-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  background: white;
  border: 1px solid;
}

.delete-message {
  font-size: 5vw;
  padding: 2vw 4vw;
}

.button-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 5vh 0;
}

.delete-button {
  font-size: 2.4vw;
  padding: 1vh;
  border-radius: 10px;
}

.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#edit-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  background: white;
  border: 1px solid;
}

.edit-modal-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.edit-modal-textInput {
  width: 60%;
  font-size: 1.5em;
  padding: 1vh;
  text-align: center;
  margin: 1vh 0;
  border-radius: 10px;
}

.edit-modal-img {
  width: 5vw;
  margin: 1vh 0;
}

.edit-modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: auto;
}
.edit-button {
  padding: 1vh;
  font-size: 2.4vw;
  margin: 2vh;
  border-radius: 10px;
}
.edit-button:hover{
  cursor: pointer;
}

.edit-message {
  font-size: 5vw;
  padding: 2vw 4vw;
}

.button-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 5vh 0;
}

